@using FuseCP.WebDav.Core.Client
@using FuseCP.WebDavPortal.Resources
@using FuseCP.WebDavPortal.UI.Routes
@model FuseCP.WebDavPortal.Models.ModelForWebDav

<div class="container">


    <div class="row" id="resourcesDiv">
        @if (Model != null)
        {
            foreach (IHierarchyItem element in Model.Items)
            {
                <partial name="_ResoursePartial" model="element" />
            }
        }
    </div>
</div>
