<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.data.dataset.serialization" type="System.Data.SerializationSettingsSectionGroup, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="allowedTypes" type="System.Data.AllowedTypesSectionHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" />
    </sectionGroup>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
  </configSections>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\bin_dotnet\FuseCP.WebPortal.dll" stdoutLogEnabled="true" stdoutLogFile=".\App_Data\logs\stdout" hostingModel="inprocess" startupTimeLimit="240">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.data.dataset.serialization>
    <allowedTypes>
      <add type="FuseCP.Providers.ResultObjects.HeliconApeStatus, FuseCP.Providers.Base" />
    </allowedTypes>
  </system.data.dataset.serialization>
  <connectionStrings>
    <add name="EnterpriseServer" connectionString="DbType=SqlServer;Server=(local);Database=FuseCP;uid=FuseCP;pwd=Password12;TrustServerCertificate=true" providerName="System.Data.EntityClient" />
    <add name="EnterpriseServerSqlServer" connectionString="DbType=SqlServer;Server=(local);Database=FuseCP;uid=FuseCP;pwd=Password12;TrustServerCertificate=true" providerName="System.Data.EntityClient" />
    <add name="EnterpriseServerMySql" connectionString="DbType=MySql;server=localhost;port=3306;database=FuseCP;uid=FuseCP;password=Password12" providerName="MySql.Data.MySqlClient" />
    <add name="EnterpriseServerSqlite" connectionString="DbType=Sqlite;data source=..\FuseCP.EnterpriseServer\App_Data\FuseCP.sqlite" providerName="System.Data.SQLite.EF6" />
    <!-- PostgreSql doesn't work because of bugs in the EF6 provider, and provider is not maintained anymore
        <add name="EnterpriseServerPostgreSql" connectionString="DbType=PostgreSql;Server=localhost;port=5433;Database=FuseCP;User Id=postgres;Password=Password12;" providerName="Npgsql" />-->
  </connectionStrings>
  <appSettings>
    <add key="WebPortal.ThemeProvider" value="FuseCP.Portal.WebPortalThemeProvider, FuseCP.Portal.Modules" />
    <add key="WebPortal.PageTitleProvider" value="FuseCP.Portal.WebPortalPageTitleProvider, FuseCP.Portal.Modules" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="SessionValidationKey" value="61a37c29624fd37fe7b697e85ec80337" />
    <add key="SpamExpertsEnable" value="false" />
    <add key="SpamExpertsUrl" value="" />
    <add key="SpamExpertsUser" value="" />
    <add key="SpamExpertsPassword" value="" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="FuseCP.CryptoKey" value="1234567890" />
    <add key="FuseCP.EncryptionEnabled" value="true" />
    <add key="FuseCP.EnterpriseServer.WebApplicationsPath" value="~/WebApplications" />
    <add key="FuseCP.EnterpriseServer.ServerRequestTimeout" value="3600" />
    <add key="FuseCP.AltConnectionString" value="ConnectionString" />
    <add key="FuseCP.AltCryptoKey" value="CryptoKey" />
    <add key="ExternalProbingPaths" value="..\FuseCP.EnterpriseServer\bin;..\FuseCP.EnterpriseServer\bin\Code;..\FuseCP.EnterpriseServer\bin\netstandard" />
    <add key="ExposeWebServices" value="true" />
  </appSettings>
  <swaggerwcf>
    <settings>
      <setting name="InfoDescription" value="This is the REST API of FuseCP. Note that all but the esAuthentication service use Basic Http Authentication. If you use .NET, you might want to access the API over WCF/SOAP, in this case refer to FuseCP.EnterpriseServer.Client assembly." />
      <setting name="InfoVersion" value="2.0.0" />
      <setting name="InfoTermsOfService" value="Terms of Service" />
      <setting name="InfoTitle" value="FuseCP EnterpriseServer Service" />
      <setting name="InfoContactName" value="FuseCP" />
      <setting name="InfoContactUrl" value="http://fusecp.com/forum" />
      <setting name="InfoContactEmail" value="support@fusecp.com" />
      <setting name="InfoLicenseUrl" value="https://github.com/FuseCP/FuseCP/blob/main/LICENSE" />
      <setting name="InfoLicenseName" value="Creative Commons Share-alike" />
    </settings>
  </swaggerwcf>
  <system.web>
    <siteMap defaultProvider="FuseCPSiteMapProvider" enabled="true">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="FuseCPSiteMapProvider" type="FuseCP.WebPortal.FuseCPSiteMapProvider, FuseCP.WebPortal" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <pages theme="Default" validateRequest="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" asyncTimeout="120">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.8" executionTimeout="1800" requestValidationMode="2.0" maxRequestLength="134217728" enableVersionHeader="false" />
    <httpHandlers>
      <add verb="*" path="AjaxHandler.ashx" type="FuseCP.WebPortal.FuseCPAjaxHandler, FuseCP.WebPortal" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms name=".FuseCPPORTALAUTHASPX" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false" />
    </authentication>
    <customErrors defaultRedirect="~/error.htm" mode="RemoteOnly" />
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization culture="auto:en-US" uiCulture="auto:en" requestEncoding="UTF-8" responseEncoding="UTF-8" />
    <compilation debug="false" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="FuseCP.Providers.Base" />
      </assemblies>
    </compilation>
  </system.web>
  <location path="bin_dotnet">
    <system.webServer>
      <handlers>
        <add name="DisallowServe" path="*.*" verb="*" type="System.Web.HttpNotFoundHandler" />
      </handlers>
    </system.webServer>
  </location>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <less useNativeMinification="true" ieCompat="true" strictMath="false" strictUnits="false" dumpLineNumbers="None" javascriptEnabled="true">
      <jsEngine name="MsieJsEngine" />
    </less>
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" />
        </translators>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".less" assetTypeCode="Less" />
        </fileExtensions>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin/Lazy" />
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="C608B2A8CC9E4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.0.0" newVersion="3.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsieJavaScriptEngine" publicKeyToken="A3A2846A37AC0D3E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973C344C93AAC60D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.171.0" newVersion="1.9.171.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.0.0" newVersion="3.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.8.0.0" newVersion="8.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>