<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".deb" mimeType="application/vnd.debian.binary-package" />
            <remove fileExtension=".7z" />
            <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
            <!--<mimeMap fileExtension=".rpm" mimeType="application/x-rpm" />-->
        </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>